<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ET_Project_GUI.Properties.Settings.AlphaDBConnectionString"
            connectionString="Data Source=|DataDirectory|\AlphaDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>